<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: %msg%n" />
        </Console>
        <RandomAccessFile name="File" fileName="hmbot/bot.log" append="true">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="File" level="info" />
        </Root>
    </Loggers>
</Configuration>

