<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<Configuration status="WARN">
    <Appenders>
        <Console name="consoleAppender">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: %msg%n"/>
        </Console>
        <RandomAccessFile name="fileAppender" fileName="hmbot/bot.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t/%level]: %msg%n"/>
        </RandomAccessFile>
        <Async name="asyncFileAppender">
            <AppenderRef ref="fileAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="consoleAppender" level="debug"/>
            <AppenderRef ref="asyncFileAppender" level="info"/>
        </Root>
    </Loggers>
</Configuration>
